@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
}

main {
  position: absolute;
}

p {
  color: var(--Dark-gray);
}

.header {
  display: flex;
  background: url('./images/image-hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25em;
  justify-content: space-between;
  padding: 2em;
}

.header-button {
  z-index: 2;
  background: none;
  flex-shrink: 0;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: flex-start;
}

.nav-links {
  position: fixed;
  top: 15vh;
  right: 8.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
  height: 15em;
  width: 80vw;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.nav-open .nav-links {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--Black);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
  border-radius: 10px;
  padding-left: 2em;
}

.nav-link:hover {
  transition: 0.2s;
  color: white;
  background: var(--Dark-gray);
}

.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-open .nav-overlay {
  visibility: visible;
  opacity: 1;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 2em 2em 0 2em;
  padding: 0 2em 2em 2em;
  bottom: 6em;
  background: white;
  border-radius: 10px;
  position: relative;
}

.section1 .section1-logo {
  position: relative;
  bottom: 1.8em;
}

.section1 .section1-text {
  line-height: 1.8em;
  width: 20em;
}

.section1 .section1-text h2 {
  margin-bottom: 0.5em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 5em;
}

.btn {
  background-color: var(--Moderate-cyan);
  border-radius: 30px;
  height: 56px;
  width: 220px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bold {
  font-size: 35px;
  color: var(--Black);
  font-weight: 700;
}

.section2-price .bold {
  margin-bottom: 10px;
}

.section2-price p {
  margin-bottom: 30px;
}

.section2-price hr {
  margin-bottom: 20px;
  color: var(--Dark-gray);
  opacity: 0.4;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar {
  width: 60vw;
  height: 1em;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar::before {
  content: '';
  display: flex;
  position: absolute;
  min-width: 2rem;
  width: 60%;
  max-width: calc(100% - 1em);
  height: 1em;
  background-color: var(--Moderate-cyan);
  border-radius: 10px;
}

.def-margin {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
